<div>
  {{message}}
  <br>
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ok</button>
</div>

<script>
function goHome()
{
window.location.href = 'http://localhost:3000/admin/home/success';
}
</script>
